<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h3>Modificar Producto</h3>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="description" class="form-label">Descripcion del producto</label>
            <input type="text" class="form-control" id="description" required="true"
            [(ngModel)]="product.description" name="description">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" step="any" id="price"
            [(ngModel)]="product.price" name="price">
        </div>
        <div class="mb-3">
            <label for="total" class="form-label">Existencias</label>
            <input type="number" class="form-control" id="total"
            [(ngModel)]="product.total" name="total">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-sm me-3">Guardar</button>
            <a href="/" class="btn btn-danger btn-sm">Regresar</a>
        </div>
    </form>
</div>